html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* 
===============================
	MAIN
===============================
*/
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bae0f3+3,ffffff+25 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bae0f3 5%, #ffffff 35%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bae0f3', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

main {
  display: block;
  width: 960px;
  margin: 0 auto;
}

/* 
===============================
	NAV
===============================
*/
nav {
  height: 60px;
  background: #ffffff;
  border-bottom: 4px solid #F8AC00;
}

nav a {
  font-family: 'Uni Sans';
  color: #4D4D4F;
  font-size: 14px;
  text-decoration: none;
  visibility: hidden;
}

nav a:hover, nav a:active, nav a:visited {
  color: #F8AC00;
}

.inner-nav {
  width: 100%;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* 
===============================
	HEADER FORM
===============================
*/
header {
  width: 960px;
  height: 300px;
  background: #FFFFFF;
  border: 2px solid #F8AC00;
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}

header h2 {
  color: #4D4D4F;
  font-family: 'Uni Sans';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  visibility: hidden;
}

header h2 span {
  color: #F8AC00;
}

.header-cols {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.header-cols .col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px dashed #4D4D4F;
  height: 216px;
  padding: 20px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.header-cols .col h3 {
  font-family: 'Uni Sans';
  font-size: 18px;
  color: #F8AC00;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.header-cols .col p {
  font-family: 'Uni Sans';
  font-size: 17px;
  color: #4D4D4F;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center;
  line-height: 26px;
}

.last-col {
  border-right: 0px dashed #4D4D4F !important;
}

/* 
===============================
	FORMULIER
===============================
*/
.formulier {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 530px;
  background-image: url("/m3/new/assets/images/form/postkaart.jpg");
  margin: 50px 0;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  box-shadow: 0px 0px 30px 5px rgba(50, 50, 50, 0.75);
  padding: 50px;
}

.formulier form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 420px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.formulier .kaart {
  height: 420px;
  border-right: 2px solid #F8AC00;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 25px;
}

.formulier .kaart h2 {
  font-family: 'Halo';
  font-size: 60px;
  color: #4D4D4F;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  margin-top: -30px;
  margin-bottom: 60px;
}

.formulier .kaart p {
  font-family: 'Halo';
  font-size: 36px;
  color: #4D4D4F;
  letter-spacing: 2px;
  display: inline-block;
  line-height: 48px;
}

.formulier .kaart h3 {
  font-family: 'Halo';
  font-size: 60px;
  color: #4D4D4F;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-right: 25px;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  width: 100%;
  text-align: right;
}

.formulier .kaart select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font-family: 'Halo';
  font-size: 36px;
  color: #F8AC00;
  border-bottom: dashed 2px #F8AC00;
  text-align: center;
  letter-spacing: 2px;
}

.formulier .kaart select:focus {
  outline: none;
}

.formulier .form {
  height: 420px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 25px;
}

.formulier .form input[type="text"] {
  width: 100%;
  border: 0px solid #4D4D4F;
  border-bottom: 2px solid #4D4D4F;
  background: none;
  padding: 7px 0;
  font-size: 14px;
  color: #4D4D4F;
  margin-bottom: 20px;
}

.formulier .form input[type="text"]:focus {
  outline: none;
}

.formulier .form input[type="submit"] {
  font-family: 'Uni Sans';
  font-size: 18px;
  border-radius: 0;
  background: none;
  border: 2px solid #4D4D4F;
  color: #4D4D4F;
  padding: 12px 24px;
  margin-top: 25px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  cursor: pointer;
}

.formulier .form input[type="submit"]:hover {
  color: #F8AC00;
  border: 2px solid #F8AC00;
}

/* 
===============================
	ACTIEF ZETTEN VD FONTS
===============================
*/
.wf-active nav a, .wf-active header h2 {
  visibility: visible;
}
