@import 'imports/reset';
@import 'imports/mixins';

$geel: #F8AC00;
$grijs: #4D4D4F;

/* 
===============================
	MAIN
===============================
*/

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bae0f3+3,ffffff+25 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #bae0f3 5%, #ffffff 35%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #bae0f3 5%,#ffffff 35%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #bae0f3 5%,#ffffff 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bae0f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

main {
	display: block;
	width: 960px;
	margin: 0 auto;
}

/* 
===============================
	NAV
===============================
*/

nav {
	height: 60px;
	background: #ffffff;
	border-bottom: 4px solid $geel;

	a {
		font-family: 'Uni Sans';
		color: $grijs;
		font-size: 14px;
		text-decoration: none;

		visibility: hidden;

		&:hover , &:active , &:visited {
			color: $geel;
		}
	}
}

.inner-nav {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* 
===============================
	HEADER FORM
===============================
*/

header {
	width: 960px;
	height: 300px;
	background: #FFFFFF;
	border: 2px solid $geel;
	margin-top: 50px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

header h2 {
	color: $grijs;
	font-family: 'Uni Sans';
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 2px;

	visibility: hidden;

	span {
		color: $geel;
	}
}

.header-cols {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.header-cols .col {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-right: 1px dashed $grijs;
	height: 216px;
	padding: 20px;
	flex-grow: 1;
	flex-basis: 0;
}

.header-cols .col h3 {
	font-family: 'Uni Sans';
	font-size: 18px;
	color: $geel;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

.header-cols .col p {
	font-family: 'Uni Sans';
	font-size: 17px;
	color: $grijs;
	letter-spacing: 1px;
	margin-top: 10px;
	text-align: center;
	line-height: 26px;
}

.last-col {
	border-right: 0px dashed $grijs !important;
}

/* 
===============================
	FORMULIER
===============================
*/

.formulier {
	display: flex;
	width: 100%;
	height: 530px;
	background-image: url("/m3/html/assets/images/form/postkaart.jpg");
	margin: 50px 0;
	flex-flow: row;

	-webkit-box-shadow: 0px 0px 30px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 30px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 30px 5px rgba(50, 50, 50, 0.75);
	padding: 50px;
}

.formulier form {
	display: flex;
	width: 100%;
	height: 420px;
	justify-content: space-between;
	align-content: center;
}

.formulier .kaart {
	height: 420px;
	border-right: 2px solid $geel;
	flex-basis: 0;
	flex-grow: 1;
	padding-right: 25px;
}

.formulier .kaart h2 {
	font-family: 'Halo';
	font-size: 60px;
	color: $grijs;
	transform: rotate(-15deg);
	margin-top: -30px;
	margin-bottom: 60px;
}

.formulier .kaart p {
	font-family: 'Halo';
	font-size: 36px;
	color: $grijs;
	letter-spacing: 2px;
	display: inline-block;
	line-height: 48px;
}

.formulier .kaart h3 {
	font-family: 'Halo';
	font-size: 60px;
	color: $grijs;
	letter-spacing: 2px;
	margin-top: 20px;
	margin-right: 25px;	
	transform: rotate(-5deg);
	width: 100%;
	text-align: right;
}

.formulier .kaart select {
	appearance: none;
	background: none;
	border: none;
	font-family: 'Halo';
	font-size: 36px;
	color: $geel;
	border-bottom: dashed 2px $geel;
	text-align: center;
	letter-spacing: 2px;

	&:focus {
		outline: none;
	}
}



.formulier .form {
	height: 420px;
	flex-basis: 0;
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-left: 25px;
}

.formulier .form input[type="text"] {
	width: 100%;
	border: 0px solid $grijs;
	border-bottom: 2px solid $grijs;
	background: none;
	padding: 7px 0;
	font-size: 14px;
	color: $grijs;
	margin-bottom: 20px;

	&:focus {
		outline: none;
	}
}

.formulier .form input[type="submit"] {
	font-family: 'Uni Sans';
	font-size: 18px;
	border-radius: 0;
	background: none;
	border: 2px solid $grijs;
	color: $grijs;
	padding: 12px 24px;
	margin-top: 25px;
	align-self: flex-start;
	cursor: pointer;

	&:hover {
		color: $geel;
		border: 2px solid $geel;
	}
}

/* 
===============================
	ACTIEF ZETTEN VD FONTS
===============================
*/

.wf-active nav a , .wf-active header h2 {
	visibility: visible;
}